@import "tailwindcss";

@theme {
  --color-brand-pink: #f2ced6;
  --color-brand-purple: #c6b6dc;
  --color-brand-purple-dark: #9a80b8;
  --color-brand-pink-dark: #d69db0;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
